---

docker_edition: 'ce'
docker_packages:
    - "docker-{{ docker_edition }}"
    - "docker-{{ docker_edition }}-cli"
    - "docker-{{ docker_edition }}-rootless-extras"
docker_packages_state: present

docker_service_manage: true
docker_service_state: stopped
docker_service_enabled: true

docker_daemon_options:
  live-restore: true
  log-driver: "json-file"
  log-opts:
    max-size: "100m"
    max-file: "3"