.env

cloud-init-cfgs

ansible/playbooks/*.retry
ansible/roles/artis3n.*
ansible/roles/geerlingguy.*
ansible/roles/xanmanning.*
ansible/vars/**/*.yml

packer/vars/*.hcl

resources/*
!resources/*.example
!resources/README.md

terraform/**/.terraform*
terraform/**/plan
terraform/**/terraform.tfstate*
terraform/**/*.log
terraform/resources/*
!terraform/resources/*.example
!terraform/resources/README.md
terraform/vars/*
!terraform/vars/*.example
!terraform/vars/README.md

manifests
