[Unit]
Description=Buildkite agent docker container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill buildkite-agent
ExecStartPre=-/usr/bin/docker rm buildkite-agent
ExecStartPre=/usr/bin/docker pull buildkite/agent:{{ buildkite_agent_version }}
ExecStart=/usr/bin/docker run -it --restart=unless-stopped --name=buildkite-agent \
  -v "/opt/buildkite/secrets:/buildkite/secrets:ro" \ 
  -v "/opt/buildkite/hooks:/buildkite/hooks:ro" \
  -v "/opt/buildkite/agent.cfg:/buildkite/buildkite-agent.cfg:ro" \
  -v "/var/run/docker.sock:/var/run/docker.sock" \
  buildkite/agent:{{ buildkite_agent_version }}

[Install]
WantedBy=multi-user.target